@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
   font-family: "Open Sans", sans-serif;
}

.open-sans-200 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
}

.nav-item{
  color: #007bff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}